##################################################################################
#
# PhpUnit Extra Asserts
#
# @package   MarcinOrlowski\PhpunitExtraAsserts
#
# @author    Marcin Orlowski <mail (#) marcinOrlowski (.) com>
# @copyright 2014-2022 Marcin Orlowski
# @license   http://www.opensource.org/licenses/mit-license.php MIT
# @link      https://github.com/MarcinOrlowski/phpunit-extra-asserts
#
##################################################################################

parameters:
  level: max
  checkMissingIterableValueType: false
  paths:
    - src/
    - tests/
#  ignoreErrors:
#    - '#^Unsafe usage of new static\(\)\.$#'
